/**
 * RTL CSS stylesheet.
 *
 * Adding support for language written in a Right To Left (RTL) direction.
 * @link http://codex.wordpress.org/Right_to_Left_Language_Support
 */

body{direction:rtl;unicode-bidi:embed}dd{margin:0 40px 0 0}menu,ol,ul{padding:0 40px 0 0}blockquote{padding:0 15px 0 0}.loop-entry .entry-thumbnail{float:left}.navigation .previous{float:right;text-align:right}.navigation .next{float:left;text-align:left}.comments-area .comment .comment-header .comment-author-avatar{float:right}.comments-area .comment .comment-utility,.comments-area .comment .comment-utility a{float:left}.comments-area #comment-list .children{margin-right:5%;margin-left:0}.author-bio img.avatar{float:right;margin-right:0;margin-left:10px}.author-bio .author-description{margin-left:0;margin-right:125px}