/* --------------------------------------------------------------

   Momtaz Admin Style

   @since 1.0

-------------------------------------------------------------- */

.clearfix {
    *zoom:1;
}
.clearfix:before,
.clearfix:after {
    display:table;
    content:"";
}
.clearfix::after {
    clear:both;
}